.navbar-brand div {
  display: flex;
  align-items: center;
  color: white;
}

.navbar .nav-link {
  color: white;
  font-weight: bold;
}

.navbar .nav-link:hover,
.navbar .nav-link:active,
.navbar .nav-link:visited {
  color: white;
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


footer {
  display: block;
  border-radius: 3px;
  background-color: #2a4861;
  border: solid 1px #3f5a70;
  box-shadow: 0px 0px 6px #3f5a70;
}

#footerleft {
  float: left;
  padding: 5px;
  color: white;
}

#footerright {
  text-align: right;
  padding-right: 5px;
  color: white;
}

button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #d4dadf;
  border: solid 1px #3f5a70;
  color: #3f5a70;
}

#flip {
  cursor: pointer;
  width: auto; 
  display: inline-block; 
}

#helpPanel,
#masPanel {
  display: none;
  padding: 3px;
  border-radius: 3px;
  background-color: #d4dadf;
  border: solid 1px #3f5a70;
  box-shadow: 0px 0px 6px #3f5a70;
}

table {
  margin: 0 auto;
  width: auto;
  border-collapse: collapse;
  table-layout: auto;
}

.form-table td {
  padding: 5px;
  text-align: right;
}

.form-table table,
.form-table td {
  border: none;
  background-color: transparent;
}

.form-table tr.selected,
.form-table tbody tr:nth-child(even),
.form-table tbody tr:nth-child(odd),
.form-table tbody tr:hover {
  background-color: transparent;
}

th, 
td {
    border: 1px solid #3f5a70; /* Color del borde */
    padding: 8px;
}
th {
  background-color: #2a4861;
  color: white;
  font-weight: bold;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Color gris claro para las filas pares */
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Color blanco para las filas impares */
}

tbody tr:hover {
  background-color: #d4dadf; /* Cambia el color al pasar el mouse */
}

#Plot {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #Plot {
    width: 100%;
  }
}

#mom {
  font-size: 0.8em;
  text-align: center;
}

input[type=number] {
  width: 70px;
}