{% extends './base.html' %}

{% block body %}

<h3 style="text-align: center;">
    {% block title %} {% endblock %}
</h3>

<form>
    <table class="form-table">
        <tbody>
            {% block form %} {% endblock %}
        </tbody>
    </table>
    <br>
</form>

<div id="Plot"></div><br>

<div id="mom">
    <p id="moments" class="mathjaxMoments"></p>
</div>

{% block script %} {% endblock %}

<footer>
    <div id="footerleft">
        <div id="flip">
            <button id="toggleHelpButton">Ayuda</button>
            <button id="toggleTableButton">Más</button>
        </div>
    </div>
    <div id="footerright">
        <p>
            ©2024 Andrés Merino<br>
            Proyecto Alephsub0
        </p>
    </div>
</footer>

<div id="helpPanel">
    {% block help %} {% endblock %}
</div>

<div id="masPanel" style="display: none;">
    {% block mas %} {% endblock %}
</div>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
</script>

<script>
    // Funcionalidad para el botón de Ayuda
    document.getElementById("toggleHelpButton").onclick = function () {
        var helpPanel = document.getElementById("helpPanel");
        var masPanel = document.getElementById("masPanel");

        // Mostrar el panel de ayuda y ocultar el de tabla si está visible
        if (helpPanel.style.display === "none" || helpPanel.style.display === "") {
            helpPanel.style.display = "block";
            masPanel.style.display = "none";  // Ocultar tabla de valores
        } else {
            helpPanel.style.display = "none";   // Ocultar ayuda
        }
    }

    // Funcionalidad para el botón de Tabla de Valores
    document.getElementById("toggleTableButton").onclick = function () {
        var helpPanel = document.getElementById("helpPanel");
        var masPanel = document.getElementById("masPanel");

        // Mostrar la tabla y ocultar el panel de ayuda si está visible
        if (masPanel.style.display === "none" || masPanel.style.display === "") {
            masPanel.style.display = "block";
            helpPanel.style.display = "none";  // Ocultar ayuda
            updateTable();  // Actualizar la tabla cuando se despliega
        } else {
            masPanel.style.display = "none";  // Ocultar tabla de valores
        }
    }
</script>

{% endblock %}