{% extends './base.html' %}

{% block body %}

<h3 style="text-align: center;">
    {% block title %} {% endblock %}
</h3>

<form>
    <table>
        <tbody>
            {% block form %} {% endblock %}
        </tbody>
    </table>
    <br>
</form>

<div id="Plot"></div><br>

<div id="mom">
    <p id="moments" class="mathjaxMoments"></p>
</div>

{% block script %} {% endblock %}

<footer>
    <div id="footerleft">
        <div id="flip"><button id="toggleButton">Ayuda</button></div>
    </div>
    <div id="footerright">
        <p>
            ©2024 Andrés Merino<br>
            Proyecto Alephsub0
        </p>
    </div>
</footer>

<div id="panel">
    {% block help %} {% endblock %}
</div>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
</script>

<script>
    document.getElementById("toggleButton").onclick = function () {
        var panel = document.getElementById("panel");
        if (panel.style.display === "none" || panel.style.display === "") {
            panel.style.display = "block";
        } else {
            panel.style.display = "none";
        }
    }
</script>

{% endblock %}