{% extends './base.html' %}

{% block body %}

<!-- Título de la página -->
<h3 style="text-align: center;">
    <!-- Aquí se insertará el título de la página -->
    {% block title %} {% endblock %}
</h3>

<!-- Formulario para el contenido principal -->
<form>
    <table class="form-table">
        <tbody>
            {% block form %}
                <!-- Aquí se insertará el formulario de la calculadora -->
            {% endblock %}
        </tbody>
    </table>
    <br>
</form>

<!-- Gráfico y momentos -->
<div id="Plot"></div><br>

<div id="mom">
    <p id="moments" class="mathjaxMoments"></p>
</div>

<!-- Scripts de la página -->
{% block script %} {% endblock %}

<!-- Pie de página -->
<footer>
    <div id="footerleft">
        <div id="flip">
            <button id="toggleHelpButton">Ayuda</button>
            <button id="toggleTableButton">Más</button>
        </div>
    </div>
    <div id="footerright">
        <p>
            ©2024 Andrés Merino<br>
            Proyecto Alephsub0
        </p>
    </div>
</footer>

<!-- Paneles de Ayuda y Más -->
<div id="helpPanel">
    {% block help %} 
        <!-- Aquí se insertará el contenido de la ayuda -->
    {% endblock %}
</div>

<div id="masPanel" style="display: none;">
    {% block mas %}
        <!-- Aquí se insertará el contenido adicional -->
    {% endblock %}
</div>

<!-- Carga de la librería Google Charts para gráficos -->
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
</script>

<script>
    // Funcionalidad para el botón de Ayuda
    document.getElementById("toggleHelpButton").onclick = function () {
        var helpPanel = document.getElementById("helpPanel");
        var masPanel = document.getElementById("masPanel");

        // Mostrar el panel de ayuda y ocultar el de tabla si está visible
        if (helpPanel.style.display === "none" || helpPanel.style.display === "") {
            helpPanel.style.display = "block";
            masPanel.style.display = "none";  // Ocultar tabla de valores
        } else {
            helpPanel.style.display = "none";   // Ocultar ayuda
        }
    }

    // Funcionalidad para el botón de Tabla de Valores
    document.getElementById("toggleTableButton").onclick = function () {
        var helpPanel = document.getElementById("helpPanel");
        var masPanel = document.getElementById("masPanel");

        // Mostrar la tabla y ocultar el panel de ayuda si está visible
        if (masPanel.style.display === "none" || masPanel.style.display === "") {
            masPanel.style.display = "block";
            helpPanel.style.display = "none";  // Ocultar ayuda
        } else {
            masPanel.style.display = "none";  // Ocultar tabla de valores
        }
    }
</script>

{% endblock %}